html {
    color: #FFF;
    font-size: 3em;
    background: url("/img/stage.png") #0a1956 no-repeat center center;
    background-size: cover;
    font-family: clarendon, Tahoma, serif;
    overflow: hidden;
}

html, body {
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

nav#skipLinks {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 25px;
}
.skip-link {
    position: absolute;
    top: -1000px;

    color: white;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 0.3em;
    text-decoration: underline;
    font-family: clarendon, Tahoma, serif;
}
.skip-link:focus-visible {
    top: 0;
}

main {
    position: relative;
    margin: 53vh auto 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 700px;
    width: 1000px;

    border-radius: 100%;
    box-shadow: 0 0 0 3px hsl(0, 0%, 0%),
    0 0 0 5px hsl(26, 77%, 52%),
    0 0 0 8px hsl(26, 76%, 55%),
    0 0 0 12px hsl(27, 70%, 60%),
    0 0 0 17px hsl(28, 67%, 64%),
    0 0 0 20px hsl(28, 63%, 73%),
    0 0 0 23px hsl(28, 67%, 64%),
    0 0 0 25px hsl(27, 70%, 60%),
    0 0 0 28px hsl(26, 76%, 55%),
    0 0 0 30px hsl(26, 77%, 52%),
    0 0 0 33px hsl(0, 0%, 0%);
    background: url("/img/lights.png") #040e3b repeat;
}

#glowing-main {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: url("/img/lights_glowed.png") #040e3b repeat;
    animation: glowing 2s ease-in-out infinite;
}
.no-animation #glowing-main {
    display: none;
}

@keyframes glowing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


h1 {
    width: 650px;
    font-size: 0.55em;
    padding: 10px;
    text-align: center;
    border: 6px white double;
    background: linear-gradient(to top, #081c6b, #374fb4);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 4px 4px 0 #000;
    margin: 0 0 25px 0;
}

/* ********************************************** */
/* *************** Action buttons *************** */
/* ********************************************** */
#actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
    padding: 15px;
}

#actions #accessibility-actions {
    float: right;
}
#actions #game-actions {
    float: left;
}

#actions #accessibility-actions button {
    background-color: rgba(46, 70, 174, 0.6);
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    font-size: 0.5em;
    padding: 5px 15px;
    box-shadow: 4px 4px 2px #000;
}

#actions #accessibility-actions button:focus-visible {
    background-color: rgba(6, 39, 176, 0.6);
    font-weight: 700;
}

/* ********************************************** */
/* ************** Lights animation ************** */
/* ********************************************** */

.lights {
    position: absolute;
    z-index: -1;
    bottom: -800px;
    /*bottom: 0;*/
    height: 800px;
}

#lights_left {
    left: 5%;
}
#lights_right {
    right: 5%;
}

.no-animation .lights {
    display: none;
}
.travel_light {
    display: inline-block;
    height: 800px;
    width: 90px;
    background: url("/img/travel_light.png") no-repeat center center;
    background-size: cover;

    transform: rotateX(180deg);
    transform-origin: top center;
    animation: light_moving 6s ease-in-out infinite;
}
.travel_light:before {
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    height: 1500px;
    width: 210px;
    background: url("/img/travel_light.png") no-repeat center center;
    background-size: contain;
    transform: rotateX(180deg);
    opacity: 0.5;
    filter: blur(60px);
}
#lights_left .travel_light:nth-of-type(1) { animation-delay: -1s; }
#lights_left .travel_light:nth-of-type(2) { animation-delay: -2s; }
#lights_left .travel_light:nth-of-type(3) { animation-delay: 0s; }
#lights_right .travel_light:nth-of-type(1) { animation-delay: -0.3s; }
#lights_right .travel_light:nth-of-type(2) { animation-delay: -1.5s; }
#lights_right .travel_light:nth-of-type(3) { animation-delay: -0.8s; }

@keyframes light_moving {
    0% { transform: rotateX(180deg) rotateZ(-30deg); }
    50% { transform: rotateX(180deg) rotateZ(30deg); }
    100% { transform: rotateX(180deg) rotateZ(-30deg); }
}
